<h1>Actors page</h1>
<p>All actors currently in the database are listed below.</p>

{{!-- The Data from our Database --}}
<nav>
    <ul style="list-style-type: none">
        <li><a href="/moods">Moods</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/genres">Genres</a></li>
        <li><a href="/age_ratings">AgeRating</a></li>
        <li><a href="/edit_movies">Edit Movies</a></li>
        <li><a href="/movie_actors">MovieActors (Read Only)</a></li>
        <li><a href="/movie_moods">MovieMoods (Read Only)</a></li>
        <li><a href="/movie_genres">MovieGenres (Read Only)</a></li>
        <li><a href="/user_movies">UserMovies (Read Only)</a></li>
    </ul>
</nav>

{{!-- Create a table --}}
<table id="people-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Modify</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, first name, last name, and birthdate, in order --}}
        {{#each data}}

        <tr data-value={{this.actor_id}}>
            <td>{{this.actor_id}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.birthday}}</td>
            <td>
                <button id="delete-actor" onclick="deleteActor({{this.actor_id}})">Delete</button>
            </td>
        </tr>
        {{/each}}

    </tbody>
</table>

<script src="./js/delete_actor.js"></script>



<br>

<h2>Add a new actor to the database</h2>
<p>To add a new actor, please enter their information below and click `Submit`!</p>
<form id="add-actor-form" method="POST" action="/add-actor-form">
    <label for="input-fname">First Name: </label>
    <input type="text" name="input-fname" id="input-fname">

    <label for="input-lname">Last Name: </label>
    <input type="text" name="input-lname" id="input-lname">

    <label for="input-birthdate">Birthdate: </label>
    <input type="date" name='input-birthdate' id='input-birthdate'>

    <input type="submit">
</form>

{{!-- Update actor --}}

<h2>Update Actor</h2>
<p>Please select from the drop down of the desired Actor you would like to alter</p>
<form id="update-actor-form-ajax">

    <label for="input-update-actor-id">Actors: </label>
    <select name="input-update-actor-id" id="input-update-actor-id">
        <option value="test">Select an Actor</option>
        {{#each data}}
        <option value="{{this.actor_id}}">{{this.first_name}} {{this.last_name}}</option>
        {{/each}}
    </select>

    <label for="update-firstname" id="update-firstname">Change First Name: </label>
    <input type="text" name="input-update-firstname" id="input-update-firstname" value="{{this.first_name}}" required>

    <label for="update-lastname" id="update-lastname">Change Last Name: </label>
    <input type="text" name="input-update-lastname" id="input-update-lastname" value="{{this.last_name}}" required>


    <label for="input-birthdate-update">Change Birthdate: </label>

    <input type="date" name="input-birthdate-update" id="input-birthdate-update">

    <input type="submit">

</form>

<script src="./js/update_actor.js"></script>