<h1>This is the Movie History page for User {{this.user}}</h1>
<p>All movies watched by the user are listed below.</p>

{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Modify</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, title, year, and age rating in order --}}
        {{#each data}}
        <tr>
            <td>{{this.movie_title}}</td>
            <td>
                <button>Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<fieldset>
<label for="add-movie-user-form">Add a Movie to User's History</label>
    <form id="add-movie-user-form" method="POST" action="/add-movie-user-form">
        
        <label for="add-movie">Movie Title: </label>
        <select name="add-movie" id="add-movie">
            {{#each add_movie}}
            <option value="{{this.movie_title}}">{{this.movie_title}}</option>
            {{/each}}
        </select>
        <input type="hidden" name="user" value="{{this.user}}">
        <input type="submit">
    </form>
</fieldset>
<br>

<a href="/users">Return to Users Page</a>