<h1>This is the Movies page</h1>
<p>All movies currently in the database are listed below.</p>
<nav>
    <ul style="list-style-type: none">
        <li><a href="/actors">Actors</a></li>
        <li><a href="/moods">Moods</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/genres">Genres</a></li>
        <li><a href="/age_ratings">AgeRating</a></li>
        <li><a href="/edit_movies">Edit Movies</a></li>
        <li><a href="/movie_actors">MovieActors (Read Only)</a></li>
        <li><a href="/movie_moods">MovieMoods (Read Only)</a></li>
        <li><a href="/movie_genres">MovieGenres (Read Only)</a></li>
        <li><a href="/user_movies">UserMovies (Read Only)</a></li>
    </ul>
</nav>

{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Modify</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, title, year, and age rating in order --}}
        {{#each data}}
        <tr>
            <td>{{this.movie_id}}</td>
            <td>{{this.movie_title}}</td>
            <td>{{this.movie_year}}</td>
            <td>{{this.age_rating_id}}</td>
            <td>
                <button>Edit</button>
                <button>Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<br>

<h2>Add a new movie to the database</h2>
<p>To add a new movie, please enter the information below and click `Submit`!</p>
<form id="add-movie-form" method="POST" action="/add-movie-form">
    <label for="input-title">Movie Title: </label>
    <input type="text" name="input-title" id="input-title">

    <label for="input-year">Year: </label>
    <input type="number" name="input-year" id="input-year" min="1900" max="2030">

    <label for="input-age-rating">Age Rating: </label>
    <select name="input-age-rating" id="input-age-rating">
        {{#each age_ratings}}
        <option value="{{this.age_rating_description}}">{{this.age_rating_description}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>

<br>

<h2>View/Edit a Movie's Relationships</h2>

<p>
    Select a Movie below to see all the Actors, Genres and Moods associated with that movie.
    You can also add or remove any of those relationships from that page.
</p>

<form id="/movie-relationships-form" method="POST" action="/movie-relationships">
    <label for="search-movie">Movie Title: </label>
    <select name="search-movie" id="search-movie">
        {{#each data}}
        <option value="{{this.movie_title}}">{{this.movie_title}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>

<br>