<h1>This is the Movie Relationships page for Movie {{this.movie}}</h1>

{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<label for="actors-table">Actors associated with this movie</label>
<table id="actors-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each actor.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Modify</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the first name and last name --}}
        {{#each actor}}
        <tr>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>
                <button>Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<br>


{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<label for="genres-table">Genres are associated with this movie</label>
<table id="genres-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each genre.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Modify</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the genre --}}
        {{#each genre}}
        <tr>
            <td>{{this.genre_name}}</td>
            <td>
                <button>Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<br>


{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<label for="moods-table">Moods associated with this movie</label>
<table id="moods-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each mood.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Modify</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the mood --}}
        {{#each mood}}
        <tr>
            <td>{{this.mood_name}}</td>
            <td>
                <button>Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>