<h1>This is the Users page</h1>
<p>All registered Users of the site are listed below.</p>

{{!-- The Data from our Database --}}

{{!-- Create a table --}}

<nav>
    <ul style="list-style-type: none">
        <li><a href="/actors">Actors</a></li>
        <li><a href="/moods">Moods</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/genres">Genres</a></li>
        <li><a href="/age_ratings">AgeRating</a></li>
        <li><a href="/edit_movies">Edit Movies</a></li>
        <li><a href="/movie_actors">MovieActors (Read Only)</a></li>
        <li><a href="/movie_moods">MovieMoods (Read Only)</a></li>
        <li><a href="/movie_genres">MovieGenres (Read Only)</a></li>
        <li><a href="/user_movies">UserMovies (Read Only)</a></li>
    </ul>
</nav>

<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Modify</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, email, and phone in order --}}
        {{#each data}}

        <tr>
            <td>{{this.user_id}}</td>
            <td>{{this.user_email}}</td>
            <td>{{this.user_phone}}</td>
            <td>
                <button>Edit</button>
                <button>Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<br>

<h2>View/Edit a User's Movie History</h2>

<p>Select a user below and click `Submit` to view or edit their Movie History</p>

<form id="/movie-history-form" method="POST" action="/movie-history">
    <label for="search-user-id">User ID: </label>
    <select name="search-user-id" id="search-user-id">
        {{#each data}}
        <option value="{{this.user_id}}">{{this.user_id}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>

<br>

<h2>Add a new user to the database</h2>

<p>To add a new user, please enter the information below and click `Submit`!</p>

<form id="/add-user-form" method="POST" action="/add-user-form">
    <label for="input-email">E-mail Address: </label>
    <input type="text" name="input-email" id="input-email">

    <label for="input-phone">Phone Number: </label>
    <input type="text" name="input-phone" id="input-phone">

    <input type="submit">
</form>